body{
    font-family:'Poppins',sans-serif;
    background:#F8FAFC;
    color:#1F2937;
}

.section{
    padding:80px 0;
}

.section-title{
    font-weight:700;
    color:#0F172A;
}

.btn-kemenkes{
    background:#00A859;
    color:white;
    border:none;
    border-radius:10px;
    padding:12px 30px;
    font-weight:600;
}

.btn-kemenkes:hover{
    background:#008C49;
    color:white;
}

/* HERO */

.hero{

height:90vh;

background:
linear-gradient(
rgba(0,90,50,.60),
rgba(0,90,50,.60)
),

url("../assets/hero-rsup.jpg");

background-size:cover;

background-position:center;

display:flex;

align-items:center;

justify-content:center;

color:white;

}

.hero-content{

max-width:850px;

margin:auto;

}

.hero h1{

font-weight:700;

letter-spacing:2px;

}

.hero h2{

font-weight:300;

}

.hero p{

font-size:20px;

line-height:1.8;

}

.hero .btn{

padding:14px 35px;

border-radius:12px;

font-weight:600;

}

.login-page{

background:#F4F7FA;

}

.login-card{

border:none;

border-radius:20px;

}

.login-card input{

height:50px;

border-radius:10px;

}

.login-card label{

font-weight:600;

margin-bottom:8px;

}

.login-card .btn{

height:50px;

font-size:18px;

}

/* ================= LOGIN ================= */

.login-left{
background:
linear-gradient(rgba(0,90,50,.65),
rgba(0,90,50,.65)),
url("../assets/hero-rsup.jpg");

background-size:cover;
background-position:center;

min-height:100vh;

position:relative;

display:flex;
align-items:center;
}

.overlay{

position:absolute;

inset:0;

background:rgba(0,90,50,.65);

}

.hero-text{

position:relative;

z-index:2;

color:white;

max-width:650px;

margin-left:80px;

}

.hero-text h1{

font-size:72px;

font-weight:800;

letter-spacing:3px;

margin-bottom:20px;

}

.hero-text h3{

margin-top:20px;

font-weight:300;

}

.hero-text p{

margin-top:30px;

font-size:20px;

line-height:1.8;

}

.login-box{

background:white;

width:520px;

max-width:90%;

padding:55px;

border-radius:24px;

box-shadow:0 15px 40px rgba(0,0,0,.12);

}

.login-box input[type="email"],
.login-box input[type="password"]{
    height:58px;
    border-radius:14px;
    padding-left:18px;
}

.login-box .btn{

height:58px;

font-size:18px;

font-weight:700;

border-radius:14px;

}

.btn-kemenkes{

background:#006B3F;

color:white;

border:none;

}

.btn-kemenkes:hover{

background:#005030;

color:white;

}

.hero-line{

width:90px;

height:5px;

background:#F4C430;

margin:30px 0;

border-radius:20px;

}

body{

background:#EEF4F3;

}

.form-check{
    margin-top:10px;
    margin-bottom:25px;
}

.form-check-input{
    cursor:pointer;
}

.form-check-label{
    margin-left:6px;
    cursor:pointer;
    user-select:none;
}
